table {
  border-spacing: 0 5px;
  width: 100%;
}

table td {
  color: #213547;
  padding: 0 5px;
  height: 70px;
}

table .windHeading {
  font-size: 0.8em;
  opacity: 0.5;
}

table .time {
  background-color: #ffffff;
  max-width: 18px;
  padding: 0;
}

table .time div {
  font-size: 0.9em;
  opacity: 0.7;
  rotate: -90deg;
}

table .windForecast {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 20px 0 0 20px;
  padding: 0;
}

table .windDirection {
  margin: 0 10px 0 0;
}

table .windSpeeds {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 90px;
}

table .wind {
  font-size: 1.5em;
  font-weight: 600;
}

table .windGust {
  font-weight: 600;
}

table .clouds {
  display: flex;
  flex-direction: column;
  margin: 5px 0 0 10px;
  align-self: flex-start;
}

table .raindrops {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

table .temp {
  font-size: 1.3em;
  border-radius: 0 20px 20px 0;
}

@media (prefers-color-scheme: dark) {
  table .time{
    background-color: #242424;
  }

  table .time div {
    color: rgba(255, 255, 255, 0.87);
  }
}