@media (prefers-color-scheme: dark) {
  .infoBar {
    color: rgb(255, 255, 255);
    background-color: #242424;
  }
}

@media (prefers-color-scheme: light) {
  .infoBar {
    color: #242424;
    background-color: rgb(255, 255, 255);
  }
}

.Forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
}

.infoBar {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%;
}

.infoBar h3 {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
}

.infoBar .ForecastOverview {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  height: 40px;
}