@media (prefers-color-scheme: light) {
  .navbar {
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  .navbar {
    background-color: #242424;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 70px;
  max-height: 50px;
  min-height: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 5px 2px 5px 5px #24242424;
}
.navbar div {
  height: 100%;
  display: flex;
  align-items: center;
}