@media (prefers-color-scheme: light) {
  .leaflet-control-velocity {
    background-color: #fff;
    color:  #242424;
  }
}

@media (prefers-color-scheme: dark) {
  .leaflet-control-velocity {
    background-color: #242424;
    color:  #FFF;
}

.leaflet-control-velocity {
  padding: 0 10px;
  border-radius: 0 10px 0 0;
  font-size: 1em;
}

.velocity-overlay {
  position: absolute;
  z-index: 1;
}

@media (max-width: 700px) {
  .leaflet-control-velocity {
    width: 100vw;
    margin: 0 0 13px 0 !important;
  }
}

@media (min-width: 701px) {
  .leaflet-control-velocity {
    margin: 0 !important;
  }
}
