.AddSpot {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddSpot form {
  width: calc(100% - 30px);
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddSpot form>div {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.AddSpot form>div:last-child {
  align-items: center;
  padding-bottom: 20px;
}

.AddSpot .formGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.AddSpot input {
  background-color: var(--main-bg-color);
  font-size: 1.2em;
  color: var(--main-color);
  border: 1px solid var(--lighter-bg-color);
  border-radius: 20px;
  width: calc(100% - 20px);
  max-width: 300px;
  height: 40px;
  text-decoration: none;
  font-weight: 200;
  line-height: 40px;
  margin: 1px;
  padding-left: 10px;
}

.AddSpot label {
  font-size: 1.2em;
  font-weight: 400;
  color: var(--main-color);

}

.AddSpot .MapContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddSpot #map {
  width: 100%;
  max-width: 1200px;
  height: 70vh;
  max-height: 800px;
  display: flex;
}

.AddSpot .TitleSub {
  width: 100%;
  height: 30px;
  display: flex;
  margin: 0 0 20px 0;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-decoration: underline;
  font-weight: 600;
}

.AddSpot .LatLon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  font-weight: 300;
  color: var(--icon-color);
}

.AddSpot button {
  background-color: var(--lighter-bg-color);
  color: var(--main-color);
  border: 1px solid var(--lighter-bg-color);
  border-radius: 20px;
  width: 140px;
  height: 40px;
  text-decoration: none;
  font-weight: 200;
  font-size: 1.3em;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.AddSpot button:hover {
  background-color: var(--yellow-color);
  cursor: pointer;
}

.AddSpot form .errorMessage {
  font-size: 0.75em;
  color: var(--red-color);
}

.windDirections {
  position: relative;
  border: 0.5px solid var(--icon-color);
  padding: 0;
  margin: 1em auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
}

.windDirections.windDirectionsInfo {
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  border: 0.5px solid var(--icon-color);
}

.windDirections li {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
  border-left: 1px dashed var(--icon-color);
}

.windDirections.windDirectionsInfo li {
  border-left: none;
}

.windDirections .selected {
  background-color: var(--lighter-color);
}

.windDirections li:hover .text {
  font-weight: bold !important;
}

.windDirections .text {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  text-align: center;
  transform: skewY(67.5deg) rotate(11.25deg);
}

.windDirections.windDirectionsInfo .text {
  font-size: 0.5em;
  font-weight: bold;
  margin-top: -1px;
  color: var(--lighter-color);
}

.windDirections .selected .text {
  color: var(--main-bg-color);
}


.windDirections.windDirectionsInfo .selected .text {
  color: var(--main-bg-color);
}

.windDirections li:hover {
  background-color: var(--yellow-color);
  cursor: pointer;
}

.windDirections.windDirectionsInfo li:hover {
  background-color: var(--main-bg-color);
  cursor:default;
}

.windDirections.windDirectionsInfo .selected:hover {
  background-color: var(--lighter-color);
}