#root {
  position: absolute;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.CookieConsent div:first-of-type {
  width: 100%;
}
