table .upperRow {
  container-type: inline-size;
  container-name: forecastCol;
}

@media (prefers-color-scheme: dark) {
  table .time div {
    color: rgba(255, 255, 255, 0.87);
  }

  table tr .lowerRow {
    background-color: #242424;
  }

  table tr .lowerRow .windMeter {
    border-right: 3px solid #242424;
  }

  table tr .lowerRow .windMaxMeter {
    border-top: 2px solid #242424;
  }
}

@media (prefers-color-scheme: light) {
  table tr .lowerRow {
    background-color: #ffffff;
  }

  table tr .lowerRow .windMeter {
    border-right: 3px solid #ffffff;
  }

  table tr .lowerRow .windMaxMeter {
    border-top: 2px solid #ffffff;
  }
}

@container forecastCol (max-width: 59.99px) {
  table .windGust {
    font-size: 1.5rem;
    font-weight: 300;
  }

  table .gustMaxDesktop {
    font-size: 0.8rem;
    font-weight: 200;
  }

  table .wind {
    padding-top: 55px;
    font-size: 1.5rem;
    font-weight: 600;
  }

  table .windUnitDesktop {
    font-size: 1rem;
    font-weight: 200;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  table .windDirection svg {
    scale: 0.9;
  }

  table .windDirText {
    font-weight: 400;
    font-size: 0.9em;
  }

  table .windDirNumber {
    font-size: 0.9em;
    font-weight: 300;
  }

  table .weather .temp span {
    display: none;
  }

  table .wavesSecondCol {
    flex-direction: column;
    font-weight: 600;
  }
}

@container forecastCol (min-width: 60px)  and (max-width: 69.99px) {
  table .windGust {
    font-size: 1.9rem;
    font-weight: 300;
  }

  table .gustMaxDesktop {
    font-size: 1rem;
    font-weight: 200;
  }

  table .wind {
    padding-top: 35px;
    font-size: 2rem;
  }

  table .windUnitDesktop {
    font-size: 1.3rem;
    font-weight: 200;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  table .windDirInfo {
    padding-bottom: 5px;
  }

  table .windDirection svg {
    scale: 1.1;
  }

  table .windDirNumber {
    font-size: 0.9em;
    font-weight: 300;
  }

  table .wavesSecondCol {
    padding-top: 7px;
  }
}

@container forecastCol (min-width: 70px)  and (max-width: 79.99px) {
  table .windGust {
    font-size: 2rem;
    font-weight: 300;
  }

  table .gustMaxDesktop {
    font-size: 1rem;
    font-weight: 200;
  }

  table .wind {
    padding-top: 20px;
    font-size: 2.5rem;
    font-weight: 600;
  }

  table .windUnitDesktop {
    font-size: 1.5rem;
    font-weight: 300;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  table .windDirInfo {
    padding-bottom: 5px;
  }


  table .windDirection svg {
    scale: 1.1;
  }

  table .windDirText {
    font-weight: 400;
    font-size: 1.1em;
  }

  table .windDirNumber {
    font-size: 1em;
    font-weight: 300;
  }

  table .wavesSecondCol {
    padding-top: 7px;
  }
}

@container forecastCol (min-width: 80px)  and (max-width: 100px) {
  table .windGust {
    font-size: 2.3rem;
    font-weight: 300;
  }

  table .gustMaxDesktop {
    font-size: 1.2rem;
    font-weight: 300;
  }

  table .wind {
    padding-top: 13px;
    font-size: 2.8rem;
    font-weight: 800;
  }

  table .windUnitDesktop {
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  table .windDirInfo {
    padding-bottom: 5px;
  }

  table .windDirection svg {
    scale: 1.2;
    margin-bottom: 5px;
  }

  table .windDirText {
    font-weight: 400;
    font-size: 1.1em;
  }

  table .windDirNumber {
    font-size: 1em;
    font-weight: 300;
  }

  table .wavesSecondCol {
    padding-top: 7px;
  }
}


@media (min-width: 1000px) {
  .ForecastTable {
    width: 100%;
    max-width: 2000px;
  }

  .tableHeading {
    padding: 30px 0 10px 0;
    font-weight: 300;
    font-size: 1.5em;
  }

  table tbody {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    justify-content: center;
  }

  table tbody tr {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 85px;
  }

  table tr .mainRow {
    width: 100%;
    overflow: hidden;
    padding: 0;
  }

  table tr .upperRow {
    color: #213547;
    display: flex;
    flex-direction: column;
  }

  table tr .lowerRow {
    display: none;
  }

  table .time div {
    opacity: 0.7;
    width: 18px;
    align-self: center;
    height: 20px;
  }

  table .windForecast {
    display: flex;
    flex-direction: column;
  }

  table .windSpeeds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
  }

  table .windSecondCol {
    order: 1;
    display: flex;
    flex-direction: column;
  }

  table .windGust {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
  }

  table .wind {
    order: 2;
  }

  table .windUnit {
    display: none;
  }

  table .windUnitDesktop {
    order: 3;
    margin-top: -5px;
  }

  table .windDirection {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 75px;
  }

  table .windDirInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  table .weather {
    display: flex;
    flex-direction: column;
  }
  table .weather .temp {
    font-size: 1.1em;
    font-weight: 600;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  table .weather .clouds {
    padding-top: 5px;
  }

  table .waves {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    height: 60px;
  }

  table .wavesSecondCol {
    font-weight: 600;
  }

  table .wavesSecondCol svg {
    scale: 1.2;
    margin-left: -5px;
  }
}

@media (max-width: 999px) {
  table tbody {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
  }
  table tbody tr {
    display: flex;
    flex-direction: row;
    height: 68px;
  }

  table tr .mainRow {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
  }

  table tr .upperRow {
    color: #213547;
    height: 60px;
    display: flex;
    flex-direction: row;
  }

  table tr .lowerRow {
    height: 8px;
    display: flex;
    flex-direction: row;
  }

  table .time div {
    opacity: 0.7;
    width: 18px;
    font-size: 0.9em;
    rotate: -90deg;
  }

  table .windForecast {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    min-width: 155px;
    max-width: 255px;
    flex: 3;
  }

  table .windSpeeds {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-end;
    min-width: 115px;
    max-width: 160px;
    justify-content: flex-end;
    flex: 1;
  }

  table .wind {
    font-size: 3em;
    display: flex;
    font-weight: 600;
    align-items: flex-end;
    justify-content: flex-end;
    line-height: 0.8;
    padding: 10px 0 0 0;
    min-width: 70px;
    max-width: 90px;
    flex: 1;
  }
  table .windSecondCol {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    flex: 1;
    min-width: 35px;
    max-width: 42px;
    gap: 2px;
  }

  table .windGust {
    font-size: 1.2em;
    font-weight: 600;
  }

  table .gustMaxDesktop {
    display: none;
  }

  table .windUnit {
    font-size: 1.5em;
    font-weight: 200;
  }

  table .windUnitDesktop {
    display: none;
  }

  table .windDirection {
    display: flex;
    align-items: center;
    border-left: 0.5px solid #213547;
    flex: 2;
    height: 48px;
  }

  table .windDirInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  table .windDirText {
    font-weight: 400;
    font-size: 1em;
  }

  table .windDirNumber {
    font-size: 0.8em;
    font-weight: 300;
    margin-left: 5px;
  }

  table .weather {
    display: flex;
    flex-direction: row;
    min-width: 85px;
    max-width: 120px;
    align-items: center;
    padding: 0;
    flex: 1;
  }

  table .weather .clouds {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 40px;
    max-width: 60px;
    justify-content: space-between;
    flex: 1;
  }

  table .weather .temp {
    font-size: 1.3em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 45px;
    max-width: 60px;
    height: 100%;
    padding: 0;
    flex: 2;
  }

  table .waves {
    min-width: 60px;
    max-width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    font-size: 1.3em;
    font-weight: 600;
    padding-bottom: 2px;
    flex: 1;
  }

  table .wavesSecondCol {
    font-size: 0.8em;
    font-weight: 400;
  }

  table .wavesSecondCol span {
    font-size: 0.8em;
    font-weight: 300;
  }

  .tableHeading {
    padding: 10px 0 5px 0;
    font-weight: 200;
  }
}

@media (min-width: 420px) and (max-width: 999px) {
  .ForecastTable {
    max-width: 480px;
  }

  table .windDirection {
    flex-direction: row;
    font-size: 1.1em;
    font-weight: 200;
    min-width: 85px;
    justify-content: center;
    max-width: 100px;
    gap: 3px;
  }

  table .windDirection svg {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  table .windDirText {
    font-size: 0.9em;
  }

  table .wavesSecondCol {
    display: flex;
    flex-direction: row;
    margin-right: -10px;
  }
}

@media (max-width: 419px) {
  table .windDirection {
    flex-direction: column;
    font-size: 1em;
    font-weight: 200;
    min-width: 40px;
    max-width: 60px;
  }
  table .windDirNumber {
    display: none;
  }

  table .windDirText {
    font-size: 0.9em;
  }

  .ForecastTable {
    max-width: 480px;
  }

  table .wavesSecondCol {
    display: flex;
    flex-direction: row;
    margin-right: -10px;
  }
}

.ForecastTable {
  border-spacing: 0 2px;
  line-height: 1;
  width: 100%;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

table tr .lowerRow .windMeter {
  height: 100%;
}

table tr .time {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

table tr .time:hover {
  cursor: pointer;
  background-color: #ffaa00;
}

table .windSpeeds:hover {
  cursor: pointer;
}

table .weather .temp span {
  font-size: 0.8em;
  font-weight: 400;
  margin-left: -4px;
  padding-top: 3px;
}

table .weather .clouds svg {
  padding: 3px 0 0 0;
}

table .weather .clouds .rain {
  width: 100%;
  height: 40px;
  margin-top: -2px;
}

table .weather .clouds .rain svg {
  rotate: 15deg;
}

table .weather .clouds .rain .rainText {
  width: 100%;
  height: 15px;
  font-size: 0.8em;
  font-weight: 600;
}

table .weather .clouds .rain .rainText span {
  font-size: 0.8em;
  font-weight: 400;
  padding-left: 0.5px;
}

table .waves span {
  font-size: 0.7em;
  font-weight: 300;
  padding-left: 2px;
}

table .waves svg {
  height: 20px;
}

table .wavesSecondCol {
  display: flex;
  display: flex;
}
