@media (prefers-color-scheme: dark) {
  .infoBar {
    color: rgb(255, 255, 255);
    background: linear-gradient(
      to bottom,
      #242424 96%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .infoBar .ForecastOverviewDay {
    border-left: 0.5px solid rgb(130, 130, 130);
  }
}

@media (prefers-color-scheme: light) {
  .infoBar {
    color: #242424;
    background-color: rgb(255, 255, 255);
  }

  .infoBar .ForecastOverviewDay {
    border-left: 0.5px solid #242424;
  }
}

@media (min-width: 1000px) {
  .infoBar {
    max-width: 2000px;
    padding-bottom: 5px;
  }

  .infoBar .ForecastOverview {
    height: 80px;
    width: calc(100% - 40px);
  }

  .infoBar .OverviewChart {
    height: 60px;
  }
}

@media (min-width: 420px) and (max-width: 999px) {
  .infoBar {
    padding-bottom: 2px;
  }
  .infoBar .ForecastOverview {
    height: 50px;
    width: calc(100% - 20px);
  }

  .infoBar .OverviewChart {
    height: 30px;
  }
}

@media (max-width: 419px) {
  .infoBar .spotInfos {
    display: none;
  }

  .infoBar {
    max-width: 480px;
    padding-bottom: 2px;
  }

  .infoBar .ForecastOverview {
    height: 50px;
    width: 100%;
  }

  .infoBar .OverviewChart {
    height: 30px;
  }
}

.Forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.infoBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: sticky;
  top: 0;
  align-items: center;
}

.infoBar .forecastInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infoBar .forecastInfo h3 {
  margin: 0;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 30px;
  flex: 1;
  margin-top: 5px;
}

.infoBar .spotInfos {
  font-weight: 200;
  font-style: italic;
}

.infoBar .spotInfos span {
  font-weight: 300;
}

.infoBar .spotInfos {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

infoBar .spotInfos div:last-child {
  font-weight: 400;
}


.infoBar .ForecastOverview {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  padding: 0 0 5px 0;
  box-shadow: 5px 2px 5px -5px #24242424;
}

.infoBar .ForecastOverviewDay {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-weight: 400;
  font-size: 0.7em;
  gap: 2px;
  overflow: hidden;
}

.infoBar .ForecastOverviewDay:first-child {
  border-left: none;
  border-radius: 5px 0 0 5px;
}

.infoBar .ForecastOverviewDay:last-child {
  border-radius: 0 5px 5px 0;
}

.infoBar .ForecastOverviewDay:hover {
  background-color: rgb(130, 130, 130);
  font-weight: 600;
  cursor: pointer;
}

.infoBar .ForecastOverviewDay.active {
  background-color: rgba(130, 130, 130, 0.25);
  opacity: 1;
  font-weight: 600;
}

.infoBar .OverviewChart {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-end;
}

.infoBar .OverviewBar {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
}

.Loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.5em;
  font-weight: 200;
}

.Loading span {
  font-weight: 600;
}
