@media (min-width: 1000px) {
  .infoBar {
    max-width: 2000px;
    padding-bottom: 5px;
  }
  .infoBar .backBtn {
    width: 32px;
  }
  .infoBar .forecastInfo {
    gap: 20px;
    justify-content: center;
  }

  .infoBar .backBtn .windDirections {
    display: none;
  }
}

@media (min-width: 801px) and (max-width: 999px) {
  .infoBar .backBtn {
    width: 32px;
  }
  .infoBar .forecastInfo {
    gap: 20px;
    justify-content: center;
  }

  .infoBar .backBtn .windDirections {
    display: none;
  }
}

@media (min-width: 450px) and (max-width: 800px) {
  .infoBar .backBtn {
    padding-left: 20px;
  }
  .infoBar .forecastInfo .windDirections {
    display: none;
  }
}

@media (min-width: 420px) and (max-width: 999px) {
  .infoBar {
    padding-bottom: 2px;
  }
}

@media (max-width: 419px) {
  .infoBar .spotInfos {
    display: none;
  }

  .infoBar {
    max-width: 480px;
    padding-bottom: 2px;
  }

  .infoBar .forecastInfo .windDirections {
    display: none;
  }
}

.infoBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: sticky;
  top: 0;
  align-items: center;
  border-bottom: 1px solid var(--lighter-bg-color);
  color: var(--main-color);
  background-color: var(--main-bg-color);
}

.infoBar .Icon {
  stroke: var(--main-color);
  width: 30px;
  height: 30px;
  transition: fill 0.2s ease-in-out;
}

.infoBar .Icon:hover {
  cursor: pointer;
  stroke: var(--yellow-color);
}

.infoBar .infoHeader {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: calc(100% - 10px);
  justify-content: space-between;
  padding: 5px 0;
}

.infoBar .forecastInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.infoBar .forecastInfoText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.infoBar .forecastInfo h3 {
  margin: 0;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 30px;
  flex: 1;
  margin-top: 5px;
}

.infoBar .spotInfos {
  font-weight: 200;
  font-style: italic;
  font-size: 0.8em;
  margin-top: -5px;
  margin-bottom: 5px;
}

.infoBar .spotInfos {
  display: flex;
}

.infoBar .sunriseSunset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.infoBar .sunriseSunset .Icon {
  width: 16px;
  height: 16px;
  fill: var(--main-bg-color);
  stroke:  var(--main-color)
}

.infoBar .sunriseSunset div {
  font-weight: 200;
  font-style: italic;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.infoBar .addBookmark {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  justify-self: flex-end;
  width: 32px;
}

.infoBar .backBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  justify-self: flex-end;
}
