@media (max-width: 499px) {
  .landingpage .Logo {
    font-size: 3.5em;
  }
  .landingpage .LogoSub {
    font-size: 1em;
  }
}

@media (min-width: 500px) {
  .landingpage .Logo {
    font-size: 5em;
  }
  .landingpage .LogoSub {
    font-size: 1.5em;
  }
}

.landingpage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.landingpage svg {
  width: 25px;
  fill: var(--main-color);
}

.landingpage .landingHeader {
  height: 100px;
}

.landingpage .LogoWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landingpage .Logo {
  width: 100%;
  justify-self: flex-start;
  color: var(--green-color);
  margin-bottom: 0;
}

.landingpage .Logo span {
  font-weight: 100;
}

.landingpage .LogoSub {
  font-weight: 200;
  margin-top: 0;
  color: var(--yellow-color);
}

.landingpage .LogoSub span {
  font-weight: 600;
}

.landingpage .Register {
  height: 100px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.landingpage button {
  width: calc(100% - 20px);
  max-width: 400px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: none;
  padding-left: 20px;
  font-size: 1.1em;
  background-color: var(--lighter-bg-color);
  color: var(--main-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.landingpage button span {
  font-weight: 600;
}

.landingpage button:hover {
  background-color: var(--yellow-color);
  cursor: pointer;
}

.landingpage .Links {
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.landingpage .Links button {
  background-color: #FFF;
  color: black;
  border: 1px solid #242424;
  border-radius: 5px;
  width: 150px;
}

.landingpage #LogoutBtn {
  opacity: 0.5;
}

.landingpage #LogoutBtn:hover {
  opacity: 1;
}

.landingpage .Links button:hover {
  background-color: var(--green-color);
  cursor: pointer;
}

