.navbar {
  background-color: var(--main-bg-color);
  border-top: 1px solid var(--lighter-bg-color);
  display: flex;
  flex-direction: row;
  gap: 50px;
  max-height: 50px;
  min-height: 50px;
  padding-top: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.navbar div {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar .NavIcon {
  fill: var(--icon-color);
  height: 30px;
  width: 30px;
  transition: fill 0.2s ease-in-out;
}

.navbar .NavIcon:hover {
  fill: var(--yellow-color);
  cursor: pointer;
}

.navbar .NavIcon.active {
  fill: var(--yellow-color);
}